extends template/layout
block content
    .container
        .row        
            form(method="post",action="/CreatePost",enctype="multipart/form-data")
                br
                .form-group
                    label(for='nombre') Nombre
                    input#nombre.form-control(type='text',name="nombre",required)
                                
                .form-group
                    label(for='descripcion') Descripción
                    textarea#descripcion.form-control(name="descripcion",required)            
                
                .form-group
                    label(for='foto') Foto
                    input#foto.form-control(type='file',name="foto")
                    
                button.btn.btn-primary(type='submit') Crear