extends template/layout
block content
    //-div(class='container-fluid',id='contenedor')
      h1(class="text-center")=title

      each datos in data
        p= datos.nombre//
    main(role='main')
        section.jumbotron.text-center
            .container
            h1.jumbotron-heading Album Demo NodeJS
            
        .album.py-5.bg-light
            .container
                .row
                    .col-md-4
                        .card.mb-4.box-shadow
                            img.card-img-top(src='../images/goku.jpg', alt='Card image cap',style=("width:350px; height:250px;"))
                            .card-body
                                p.card-text
                                    | Gokū, hijo de Bardock y Gine, nace en el año 737 con el nombre de Kakarot / Kakarotto.
                                .d-flex.justify-content-between.align-items-center
                                    .btn-group
                                    button.btn.btn-sm.btn-outline-secondary(type='button') Ver
                                    button.btn.btn-sm.btn-outline-secondary(type='button') Editar
                                    small.text-muted 9 mins
                    .col-md-4
                        .card.mb-4.box-shadow
                            img.card-img-top(src='../images/vegeta.jpg', alt='Card image cap',style=("width:350px; height:250px;"))
                            .card-body
                                p.card-text
                                    | Vegeta aparece por primera vez en Dragon Ball Z junto a Nappa, luego de que Raditz, camarada de ambos y hermano mayor de Goku, falleciera a manos de Piccolo.
                                .d-flex.justify-content-between.align-items-center
                                    .btn-group
                                    button.btn.btn-sm.btn-outline-secondary(type='button') Ver
                                    button.btn.btn-sm.btn-outline-secondary(type='button') Editar
                                    small.text-muted 9 mins
                    .col-md-4
                        .card.mb-4.box-shadow
                            img.card-img-top(src='../images/frezer.jpg', alt='Card image cap',style=("width:350px; height:250px;"))
                            .card-body
                                p.card-text
                                    | Freezer es un personaje ficticio creado por Akira Toriyama e introducido en la serie en el capítulo 247 del manga. Es uno de los villanos más destacados de la serie de manga y anime Dragon Ball.
                                .d-flex.justify-content-between.align-items-center
                                    .btn-group
                                    button.btn.btn-sm.btn-outline-secondary(type='button') Ver
                                    button.btn.btn-sm.btn-outline-secondary(type='button') Editar
                                    small.text-muted 9 mins